a {
    font-size:15px;
    font: Tahoma bold;
     text-align: center;
     vertical-align: bottom;
}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
    a:hover, a:active {
    background-color: black;
    color: white;
  }

body {
      font-size: 20px;
  }

* {
    bottom:0;
    text-align:center;
}
input[type=checkbox]+div{ 
  display: hidden; 
}